<header class="header">
  <div class="container">
    <nav class="header__nav">
      <a href="./#home" class="logo">
        Zyber<span>Chain</span>
      </a>

      <ul class="header__menu">
        <li><a href="./#about" class="nav-link">О платформе</a></li>
        <li><a href="./#benefits" class="nav-link">Преимущества</a></li>
        <li><a href="./#innovations" class="nav-link">Инновации</a></li>
        <li><a href="./#blog" class="nav-link">Блог</a></li>
      </ul>

      <a href="./#contact" class="btn btn--outline">Связаться</a>

      <button class="burger" aria-label="Menu">
        <span></span>
      </button>
    </nav>
  </div>
</header>